<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Budget: <strong>budget name</strong></h3>

<table class="table">
    <thead>
    <th>Incomes</th>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Income</th>
        <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>income №1</td>
        <td>30000</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>income №2</td>
        <td>30000</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>income №3</td>
        <td>30000</td>
    </tr>
    <tr>
        <th scope="row">Total:</th>
        <td></td>
        <td>90000</td>
    </tr>
    </tbody>
</table>

<br>

<table class="table">
    <thead>
    <th>Expenses</th>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Expense</th>
        <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>expense №1</td>
        <td>20000</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>expense №2</td>
        <td>20000</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>expense №3</td>
        <td>20000</td>
    </tr>
    <tr>
        <th scope="row">Total:</th>
        <td></td>
        <td>60000</td>
    </tr>
    </tbody>
</table>

<br>

<table class="table">
    <thead>
    <th>Aims</th>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Aim</th>
        <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>aim №1</td>
        <td>500000</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>aim №2</td>
        <td>500000</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>aim №3</td>
        <td>500000</td>
    </tr>
    <tr>
        <th scope="row">Total:</th>
        <td></td>
        <td>1500000</td>
    </tr>
    </tbody>
</table>

</body>
</html>