<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budgets</title>
</head>
<body>
User: <strong>username</strong>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td><a href="/budgets/1">budget №1</a></td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td><a href="/budgets/2">budget №2</a></td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td><a href="/budgets/3">budget №3</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>